 
body{font:12px/1 "Times New Roman", Tahoma, Helvetica, Arial,  sans-serif; color:#333;}
a{text-decoration:none;}
a:hover{ color:#C00;text-decoration:underline;}
.wrap1000{width:1000px; margin:10px auto 0;}
.clear{clear:both;}